# Archivos de compilación
bin/
obj/

# Visual Studio archivos de configuración
.vs/
*.csproj.user

# Paquetes NuGet
packages/
*.nupkg

src/db/pgdata/
src/wwwroot/

# Configuración de usuario
appsettings.Development.json